
/* ----------------------------- */
/* Tif - Notification Bar CSS             */
/* ----------------------------- */

.tif-notification-bar {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 99999;
}
.tif-notification-bar p {
	margin-bottom: 0;
}
.tif-notification-bar p + p {
	margin-top: .5rem;
}
.tif-notification-bar.fixed-top {
	position: fixed;
	top: 0;
}
.tif-notification-bar.fixed-bottom {
	position: fixed;
	bottom: 0;
}
.tif-notification-bar .inner {
	display: flex;
	gap: $gap-large;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: $spacer-medium-plus;
}
.tif-notification-bar .tif-boxed {
	@if( $has-tif-path == 'false' ){
		max-width: $tif-width-primary;
	}
	margin: 0 auto;
}
.tif-notification-bar .js.tif-close-btn {
	line-height: .5;
	padding: $spacer-medium-plus;
	margin: -#{$spacer-medium-plus};
	cursor: pointer;
}
.tif-notification-bar .js.tif-close-btn.is-text {
	text-decoration: underline;
}
.tif-notification-bar .tif-close-btn.is-cross {
		font-size: 2rem;
}
.tif-notification-bar .tif-close-btn a {
	line-height: .5;
	padding: $spacer-medium-plus;
	margin: -#{$spacer-medium-plus};
	display: block;
}
.tif-notification-bar .tif-close-btn.is-cross a,
.tif-notification-bar .tif-close-btn.is-btn a {
	text-decoration: none;
}
.tif-notification-bar.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	min-height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999999999999999;
}
.tif-notification-bar.modal .inner {
	flex-direction: column;
	text-align: center;
	font-size: 1.2rem;
	gap: 3rem;
}
